{% extends "layout.html" %}
{% block title %}about{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='about-style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class = peakabt1>
        <p>about <br>
            peak is a service for auto-searching highlights in twitch vods<br>
            email to contact: peakserviceofficial@gmail.com
        </p>
    </div>

    <div class = peakabt2>
        <p>how to use<br>
            1. access already processed video:<br>
            go to result tab and submit video id into the video id field<br><br>

            2. process a new video:<br>
            getting code<br>
            go to code tab and submit your email into the email field<br>
            2 codes will be sent to your email<br>
            you can get 2 codes per day<br>
            codes are active for 7 days<br><br>

            go to process tab and submit video id into the video id field,<br>
            code into the code field<br>
            usually it takes around 10 seconds to analyze 1 hour of vod,<br>
            but can take up to 3 minutes for 1 hour of vod in rare occasions<br>
            data about processed videos is stored for 7 days
        </p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyend %}
    <canvas class="background"></canvas>
    <script src="static/particles.js"></script>
{% endblock %}