{% extends "layout.html" %}
{% block title %}chart{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename='about-style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class = peakabt1>
        <p>about <br>
            peak is a service for auto-generating highlights from twitch vods</p>
    </div>

    <div class = peakabt2>
        <p>how to use<br>
            1. access already processed video:<br>
            enter/pass the video id into the video_id field<br>
            data about the proccessed video is stored for 1 week<br><br>

            2. proccess a new video:<br>
            getting code<br>
            you can get the code sent to your email by entering/passing your email into the email field<br>
            you can get up to 2 codes per day<br>
            code is active for 1 day<br><br>

            enter/pass the video id into the video_id field and code into the video_code field</p>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block bodyend %}
    <canvas class="background"></canvas>
    <script src="static/particles.js"></script>
{% endblock %}