<!DOCTYPE html>
<html>
	<head>
		<meta charset = UTF-8>
		<title>peak</title>
        <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />

		<link href = "{{ url_for('static', filename='chart-style.css') }}" rel = "stylesheet" type = "text/css"/>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
		<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script src="https://www.chartjs.org/samples/latest/utils.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<style>
			canvas {
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;
			}
		</style>
	</head>
	<body>
		<div id="container" class = chartstl>
			<canvas id="canvaschart"></canvas>
		</div>

		<canvas class="background"></canvas>

		<script>
			var myvalues = [{{ ', '.join(values) }}];

			var MONTHS = [];
			var color = Chart.helpers.color;
			var data = {
				labels: [],
				datasets: [{
					label: 'highlights',
					backgroundColor: color(window.chartColors.red).alpha(0.5).rgbString(),
					borderColor: window.chartColors.red,
					borderWidth: 1,
					data: [

					]
				}, {
					label: 'avg',
					backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
					borderColor: window.chartColors.blue,
					borderWidth: 1,
					data: [

					]
				}]
			};


			window.onload = function() {

				var ctx = document.getElementById('canvaschart').getContext('2d');
				window.myBar = new Chart(ctx, {
					type: 'bar',
					data: data,
					options: {
						responsive: true,
						legend: {
							position: 'top',
						}
					}
				});


				Particles.init({
					selector: '.background',
					color: '#fcfcfc',
					connectParticles: 'true',
					maxParticles: 120,

					responsive: [
						{
						  breakpoint: 768,
						  options: {
							maxParticles: 50,
							connectParticles: true
						  }
						}, {
						  breakpoint: 425,
						  options: {
							maxParticles: 30,
							connectParticles: true
						  }
						}, {
						  breakpoint: 320,
						  options: {
							maxParticles: 10,
							connectParticles: true
						  }
						}
					  ]
				});

				adddata();

			};

			function adddata(){
			    var i;
			    var j = 0;
			    var j1 = 0;
			    var j2 = 0;
                for (i = 0; i < myvalues.length; i = i + 2) {
                	if (j % 2 == 0) {
                		myBar.data.labels[j] = myvalues[i];
                    	myBar.data.datasets[1].data[j1] = myvalues[i + 1];
                    	j1++;
                	}
                	else {
                		myBar.data.labels[j] = myvalues[i];
                    	myBar.data.datasets[0].data[j2] = myvalues[i + 1];
                    	j2++;
                	}
                	j++;
                }
                myBar.update();
            }
		</script>

	</body>
</html>