{% extends "layout.html" %}
{% block title %}home{% endblock %}
{% block head %}
  {{ super() }}
    <link href="{{ url_for('static', filename='index-style.css') }}" rel="stylesheet" type="text/css"/>
{% endblock %}


{% block header %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="alerts">
            <div class="container" style="width:500px">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category,message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">×</span></button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>

    <div class="submit">

            <div class="tab selectDisable">
                <button class="tablinks" onclick="openCity(event, 'result')" id="defaultOpen">result</button>
                <button class="tablinks" onclick="openCity(event, 'code')">code</button>
                <button class="tablinks" onclick="openCity(event, 'submit')">submit</button>
            </div>

            <div id="result" class="tabcontent selectDisable">
                <div class = resulttab>
                    <form action="/videoresult" method="post">
                        video id: <input type="text" name="videoid"><br>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>

            <div id="code" class="tabcontent selectDisable">
                <div class = codetab>
                    <form action="/mailcode" method="post">
                        email:  <input type="text" name="emaillink"><br>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>

            <div id="submit" class="tabcontent selectDisable">
                <div class = submittab>
                    <form action="/videocode" method="post">
                        video id: <input type="text" name="videoid"><br>
                        code: <input type="text" name="videocode"><br>
                        <input type="submit" value="submit">
                    </form>
                </div>
            </div>

        </div>
{% endblock %}

{% block footer %}
    <div class = selectDisable>
        make sure to read <a href="/about">about</a> before using the app
    </div>
{% endblock %}

{% block bodyend %}
    <canvas class="background"></canvas>
    <script src="static/particles.js"></script>
    <script src="static/fade.js"></script>
{% endblock %}