<!DOCTYPE html>
<html lang="en-us">
<html>
	<head>
        <title>peak</title>
        <link rel='shortcut icon' type='image/x-icon' href='/static/favicon.ico' />

		<meta charset = UTF-8>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

		<link href = "{{ url_for('static', filename='index-style.css') }}" rel = "stylesheet" type = "text/css"/>
	</head>
	<body>

		<div id="wrapper" class = "wrapperclass">

			<div id="header">
		  	<div class = logoimage>
	  			<img src = /static/logo.png alt = logo style = "width: 232px; height: 112px;">
			</div>
		  </div>

		  <div id="content">
              <div class = "alerts">
                <div class="container" style="width:500px">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category,message in messages %}
                          <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                            {{message}}
                          </div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                </div>
              </div>


		  	<div class = "submit">
				<form action="/videocode" method="post">
					video id: <input type="text" name="videoid"><br>
					code: <input type="text" name="videocode"><br>
					<input type="submit" value="submit">
				</form>
			</div>

			  <div class = "mail">
				<form action="/mailcode" method="post">
					email: <input type="text" name="emaillink"><br>
					<input type="submit" value="submit">
				</form>
			</div>

		  </div>

		  <div id="footer">
                make sure to read help before using the app
		  </div>

		</div>

		<canvas class="background"></canvas>

        <script>
            window.onload = function() {
                Particles.init({
                    selector: '.background',
  					color: '#fcfcfc',
  					connectParticles: 'true',
  					maxParticles: 120,

  					responsive: [
						{
						  breakpoint: 768,
						  options: {
							maxParticles: 50,
							connectParticles: true
						  }
						}, {
						  breakpoint: 425,
						  options: {
							maxParticles: 30,
							connectParticles: true
						  }
						}, {
						  breakpoint: 320,
						  options: {
							maxParticles: 10,
							connectParticles: true
						  }
						}
					  ]
                });
            };
        </script>

       <script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	</body>
</html>