.peakabt1 {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 300px; right: 0;

    height: 60px;
    width: 550px;
    padding: 15px;

    padding-right: 45px;
    padding-top: 0px;

    text-align: left;

    color: #1d1e22;
    background-color: #fcfcfc;
}

.peakabt2 {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0px; right: 0;

    width: 550px;
    height: 220px;
    padding: 15px;

    padding-right: 45px;
    padding-top: 0px;

    text-align: left;

    color: #1d1e22;
    background-color: #fcfcfc;
}