.chartstl {
    background-color: #fcfcfc;

    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 100px; right: 0;

    height: 460px;
    width: 900px;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}